<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics Finder</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/img/2.png">
</head>
<body>
    <div class="container">
        <div class="nav-buttons">
            {{if .LoggedIn}}
                <a href="/logout" class="auth-btn">Logout</a>
            {{else}}
                <a href="/login" class="auth-btn">Login</a>
                <a href="/register" class="auth-btn">Register</a>
            {{end}}
        </div>
        
        <img src="/static/img/2.png" alt="Harmonify" class="logo">
        <h1 id="lyrics-finder" class="page-title">Harmonify</h1>

        <div class="slogan">Unlock Every Line of Your Favorite Songs</div>

        <div class="search-container">
            <form action="/search" method="GET" class="search-form">
                <input type="text" 
                    name="query" 
                    class="search-input" 
                    placeholder="Search for songs, artists..." 
                    required>
                <div class="action-buttons">
                    <button type="submit" class="search-btn">Search</button>
                    <a href="/playlist" class="playlist-btn">View Playlists</a>
                </div>
            </form>
        </div>

        <div class="button-container">
            <a href="/static/docs/Documentation.pdf" download class="doc-btn">Documentation</a>
            <a href="/faq" class="faq-btn">FAQ</a>
        </div>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>