<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics Finder</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/img/2.png">
</head>
<body>
    <div class="container">
        <img src="/static/img/2.png" alt="Harmonify" class="logo">
        <h1 id="lyrics-finder" class="page-title">Harmonify</h1>

        <p>Unlock Every Line of Your Favorite Songs</p>

        <div class="search-container">
            <form action="/search" method="GET" class="search-form">
                <input type="text" 
                    name="query" 
                    class="search-input" 
                    placeholder="Search for songs, artists..." 
                    required>
                <button type="submit" class="search-btn">Search</button>
            </form>
        </div>

        <div class="button-container">
            <form action="/playlist" method="GET" class="search-form">
                <button type="submit" class="favorites-btn">View Playlists</button>
            </form>
            <a href="/faq" class="faq-btn">FAQ</a> 
        </div>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>